.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 999999;
}

img{
    border-radius: 30%;
    height: 300px;
    width: 300px;
}   


#DogStages {
        background: linear-gradient(#60ebeb 0%, #00ff8c 100%);
}

section {
    background-color: cyan;
}